@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  color: white;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;

  background-color:hsla(0,0%,0%,1);
  background-image:
  radial-gradient(at 10% 91%, hsla(18,56%,43%,0.69) 0px, transparent 50%),
  radial-gradient(at 57% 97%, hsla(303,52%,44%,0.39) 0px, transparent 50%), 
  radial-gradient(at 94% 73%, hsla(232,64%,42%,0.59) 0px, transparent 50%);
}

.navbar {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.nav-content {
  display: flex;
  gap: 25px;
}


.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 225px;
  padding: 20px;
}

.hero-section h1 {
  display: flex;
  font-size: 100px;
  font-weight: 400;
  text-decoration: underline 5px;
  text-underline-offset: 14px;
  margin-bottom: 15px;
}

.button-section {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button-section a {
  text-decoration: none;
  color: white;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

.footer-section {
  text-align: center;
  margin-top: 325px;
}

.footer-section a {
  text-decoration: none;
  color: white;
}